@import "tailwindcss";

/* Fullscreen estable para cámara + canvas */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  overflow: hidden; /* evita scroll mientras usás la cámara */
  background: #000; /* fallback detrás del video */
}

/* Opcional: tipografía base */
:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}